.my-order{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}
.title{
    text-align: left;
    margin-bottom: 40px;
}
.my-order-container
{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-content{
    display: flex;
    flex-direction: column;
}
.order-detail
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-input-field);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
}
.my-order-information{
    display: flex;
    flex-direction: column;
}
.date-order{
    font-size: var(--md);
    font-weight: bold;
}
.product-ammount{
    font-size: var(--sm);
    color: var(--very-light-pink);
}
.title-container{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.title{
    padding: 0;
    margin: 0;
}