<aside class="my-order">
    <div class="my-order-container">
        <div class="title-container">
            <img src="../../../assets/icons/flechita.svg" alt="arrow" (click)="closeShoppingCart()">
            <p class="title">Mi Carrito</p>
        </div>
        <div class="my-order-content">

            <div class="shopping-cart">
                <app-order-product [isShoppingCart]="true"></app-order-product>
            </div>
            <div class="order-detail">
                <div class="my-order-information">
                    <span class="date-order">Total</span>
                </div>
                <div class="my-order-price">
                    <p class="date-order">$560.00</p>
                </div>
            </div>
        </div>
        <button class="primary-button form-button add-to-cart-button">
            Comprar
        </button>
    </div>
</aside>