<nav class="navbar">
    <img src="../../../assets/icons/icon_menu.svg" alt="icono menu" class="menu" (click)="toggleSidebar()">
    <div class="navbar-left">
        <img src="../../../assets/logos/logo_yard_sale.svg" alt="logo" class="logo-navbar">
        <ul>
            <li><a href="">Todo</a></li>
            <li><a href="">Ropa</a></li>
            <li><a href="">Electrodomésticos</a></li>
            <li><a href="">Muebles</a></li>
            <li><a href="">Juguetes</a></li>
            <li><a href="">Otros</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <ul>
            <li class="navbar-email">camilayokoo@gmail.com</li>
            <li class="navbar-shopping-cart" (click)="openShoppingCart()">
                <img src="../../../assets/icons/icon_shopping_cart.svg" alt="shopping cart">
                <div class="ammount-products">2</div>
            </li>
        </ul>
    </div>
</nav>