<div class="component-container">
    <div class="form-container">
        <h1 class="title">Mi cuenta</h1>
        <form action="/" class="form">
            <div class="input-container">
                <label for="name" class="label">Nombre</label>
                <input type="text" id="name" placeholder="Camila Yokoo" class="input input-name">
                <label for="email" class="label">Correo electrónico</label>
                <input type="text" id="email" placeholder="camilayokoo@gmail.com" class="input input-email">
                <label for="password-reenter" class="label">Contraseña</label>
                <input type="password" id="password-reenter" placeholder="*********" class="input input-password">
            </div>
            <div class="manage-account-container">
                <button class="primary-button form-button">Crear</button>
            </div>
        </form>
    </div>
</div>