<aside class="product-detail">
    <div class="product-detail-close" (click)="closeDetail()">
        <img src="../../../assets/icons/icon_close.png"  alt="close" >
    </div>
    <img src="../../../assets/images/pexels-photo-276517.jpeg" class="product-image" alt="bike-image" class="product-img">
    <div class="product-info">
        <p class="price">$35.00</p>
        <p class="product-name">Bike</p>
        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt harum tempore iusto eum perferendis ad vel
            corporis saepe aspernatur architecto eveniet provident ab recusandae aliquid hic sed eligendi, sequi natus!
        </p>
        <button class="primary-button form-button add-to-cart-button">
            <img src="../../../assets/icons/bt_add_to_cart.svg" alt="add to cart">
            Agregar al carrito
        </button>
    </div>
</aside>