.product-detail{
    width: 360px;
    padding-bottom:24px;
}
.product-detail-close{
    background-color: var(--white);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 20px;
    z-index: 2;
    border-radius: 50%;
}
.product-detail-close img{
    width: 12px;
    height: 12px;
}
.product-img{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius:0 0 20px 20px;
}

.product-detail-close:hover{
 cursor: pointer;

}
.product-info{
    margin: 24px 24px 0 24px;
}
.product-info .price{
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-info .product-name{
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}
.product-info .product-description{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(min-width:640px)
{
    .product-detail{
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
        height: 100%;
        background: var(--white);
    }
}
@media(max-width:640px)
{
    .product-detail{
        width: 100%;
    }
    .product-detail-close{
        display: none;
    }
}