<aside class="product-detail">
    <div class="product-detail-close" (click)="closeDetail()">
        <img src="../../../assets/icons/icon_close.png" alt="close">
    </div>
    <img [src]="productDetail?.images[0]" appErrorImage class="product-image" alt="product-image"
        class="product-img">
    <div class="product-info">
        <p class="price">{{productDetail?.price}}</p>
        <p class="product-name">{{productDetail?.title}}</p>
        <p class="product-description">{{productDetail?.description}}
        </p>
        <button class="primary-button form-button add-to-cart-button">
            <img src="../../../assets/icons/bt_add_to_cart.svg" alt="add to cart">
            Agregar al carrito
        </button>
    </div>
</aside>