.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    place-content: center;
    gap: 26px;
}
.button-container{
    margin-top: var(--md);
    justify-content: center;
}
.secondary-button{
    width: 50%;
}
@media(max-width:640px)
{
    .cards-container{
        grid-template-columns: repeat(auto-fill,140px);
    }
}