<div class="component-container">
    <div class="form-container">
        <h1 class="title">Mi cuenta</h1>
        <form action="/" class="form">
            <div class="input-container">
                <label for="name" class="label">Nombre</label>
                <p class="value">Camila Yokoo</p>
                <label for="email" class="label">Correo electrónico</label>
                <p class="value">camilayokoo@gmail.com</p>
                <label for="password-reenter" class="label">Contraseña</label>
                <p class="value">********************</p>
            </div>
            <div class="manage-account-container">
                <button class="secondary-button form-button">Editar</button>
            </div>
        </form>
    </div>
</div>