<div class="mobile-menu">
    <ul class="categories-list">
        <li><a href="" class="sidebar-title">CATEGORÍAS</a></li>
        <li><a href="" class="sidebar-title">Todo</a></li>
        <li><a href="" class="sidebar-title">Ropa</a></li>
        <li><a href="" class="sidebar-title">Electrodomesticos</a></li>
        <li><a href="" class="sidebar-title">Muebles</a></li>
        <li><a href="" class="sidebar-title">Juguetes</a></li>
        <li><a href="" class="sidebar-title">Otros</a></li>
    </ul>
    <ul class="user-list">
        <li><a href="">Mis ordenes</a></li>
        <li><a href="">Mi cuenta</a></li>
    </ul>
    <ul class="user-information-list">
        <li><a href="" class="email">camilayokoo@gmail.com</a></li>
        <li><a href="" class="sign-out">Cerrar sesión</a></li>
    </ul>
</div>