<div class="my-order">
    <div class="my-order-container">
        <h1 class="title">Mi orden</h1>
        <div class="my-order-content">
            <div class="order-detail" *ngFor="let i of [1,1,1,11,1,1,1]">
                <div class="my-order-information">
                    <span class="date-order">04.25.2021</span>
                    <span class="product-ammount">6 artículos</span>
                </div>
                <div class="my-order-price">
                    <p>$560.00</p>
                    <img src="../../../assets/icons/flechita.svg" alt="arrow">
                </div>
            </div>
        </div>
    </div>
</div>